@page "/"
@using GestionStock.Client.Models


<PageTitle>Nos Produits</PageTitle>

<div class="pa-8">
    <MudButton Href="/product/add"
               Variant="Variant.Outlined"
               Color="Color.Info"
               EndIcon="@Icons.Material.Filled.AddCircle"
               Class="mb-8"
    >Ajouter</MudButton>

    <MudTable Items="@products">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Nos Produits</MudText>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Delete</MudTh>
            <MudTh>Reference</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>ImageUrl</MudTh>
            <MudTh>Price</MudTh>
            <MudTh>Categories</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => Delete(context)"/>
            </MudTd>          
            <MudTd DataLabel="Reference">@context.Reference</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="ImageUrl">@context.ImageUrl</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd DataLabel="Categories">@string.Join(",", context.Categories.Select(c => c.Name))</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>



@code {
    [Inject] 
    private IDialogService DialogService { get; set; }

    [Inject]
    public required ISnackbar Snackbar { get; set; }

    [Inject] 
    public required ProductService ProductService { get; set; }

    [Inject]
    public required LoadingStateService LoadingState { get; set; }

    private IEnumerable<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            LoadingState.IsLoading = true;
            products = await ProductService.Get();
            LoadingState.IsLoading = false;
        }
        catch(HttpRequestException)
        {
            Snackbar.Add("Le chargement des données a echoué", Severity.Error);
        }
    }

    private async Task Delete(Product product)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Attention",
            "Es-tu sûr de vouloir le supprimer ?",
            yesText: "Oui", cancelText: "Annuler");
        if (result == true)
        {
            LoadingState.IsLoading = true;
            await ProductService.Delete(product);
            products = await ProductService.Get();
            LoadingState.IsLoading = false;
            Snackbar.Add("Le produit a bien été supprimé", Severity.Success);  
        }
    }
}