@page "/"
@using GestionStock.Client.Models
@using GestionStock.Client.Security
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@attribute [Authorize]

<PageTitle>Nos Produits</PageTitle>

<div class="pa-8">
    @if(AuthState.User.HasAnyRoles("Admin", "Restocker"))
    {
        <MudButton Href="/product/add"
                   Variant="Variant.Outlined"
                   Color="Color.Info"
                   EndIcon="@Icons.Material.Filled.AddCircle"
                   Class="mb-8"
        >Ajouter</MudButton>
    }

    <MudTable Items="@products">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Nos Produits</MudText>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Delete</MudTh>
            <MudTh>Reference</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>ImageUrl</MudTh>
            <MudTh>Price</MudTh>
            <MudTh>Categories</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudIconButton 
                    Icon="@Icons.Material.Filled.Delete" 
                    Color="Color.Error" 
                    OnClick="() => Delete(context)"
                    Disabled="@(!AuthState.User.IsInRole("Admin"))"
                    />
            </MudTd>          
            <MudTd DataLabel="Reference">@context.Reference</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="ImageUrl">@context.ImageUrl</MudTd>
            <MudTd DataLabel="Price">@context.Price</MudTd>
            <MudTd DataLabel="Categories">@string.Join(",", context.Categories.Select(c => c.Name))</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>



@code {
    [Inject] 
    public required IDialogService DialogService { get; set; }

    [Inject]
    public required ISnackbar Snackbar { get; set; }

    [Inject] 
    public required ProductService ProductService { get; set; }

    [Inject]
    public required LoadingStateService LoadingState { get; set; }

    [Inject]
    public required AuthenticationStateProvider Auth { get; set; }

    private AuthenticationState AuthState = new AuthenticationState(new ClaimsPrincipal());

    private IEnumerable<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        AuthState = await Auth.GetAuthenticationStateAsync();
        try
        {
            LoadingState.IsLoading = true;
            products = await ProductService.Get();
            LoadingState.IsLoading = false;
        }
        catch(HttpRequestException)
        {
            Snackbar.Add("Le chargement des données a echoué", Severity.Error);
        }
    }

    private async Task Delete(Product product)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Attention",
            "Es-tu sûr de vouloir le supprimer ?",
            yesText: "Oui", cancelText: "Annuler");
        if (result == true)
        {
            LoadingState.IsLoading = true;
            try
            {
                await ProductService.Delete(product);
                products = await ProductService.Get();
                Snackbar.Add("Le produit a bien été supprimé", Severity.Success);  
            }
            catch(HttpRequestException)
            {
                Snackbar.Add("Le produit n'a pas pu supprimé", Severity.Error);
            }
            LoadingState.IsLoading = false;
        }
    }
}